<div class="flex mx-5">
  <h3 class="card-title">List of Recipes</h3>
</div>

<div class="border-black flex flex-col w-full">
  <table>
    <tr>
      <th class="p-3">Recipe</th>
      <th class="p-3">Prep time</th>
      <th class="p-3">Cook time</th>
      <th class="p-3">Description</th>
    </tr>
    <% @recipes.each do |recipe| %>
      <tr>
        <td class="p-3">
        <%= link_to recipe_path(recipe.id) do %><%= recipe.name %><% end %>
        </td>
        <td class="p-3"><%= recipe.preparation_time %></td>
        <td class="p-3"><%= recipe.cooking_time %></td>
        <td class="p-3"><%= recipe.description %></td>
        <td>
          <%= button_to 'Delete',
            recipe_path(recipe),
            method: :delete,
            data: {confirm: 'Are sure you want to delete this recipe'}
          %>
        </td>
      </tr>
    <% end %>
  </table>
</div>