<div>
  <div class="flex mx-5">
    <h3 class="card-title">Create new Recipe</h3>
  </div>

  <%= form_with  class: 'form border-black flex flex-col w-full',
    model: @recipe,
    url: recipes_path(@current_user) do |form| %>
    <div>
      <p class="text-lg">Name:</p>
      <%= form.text_field :name, class: 'form-inputs w-full' %>
    </div>
    <div>
        <p class="text-lg">Preparation Time:</p>
      <%= form.number_field :preparation_time, class: 'form-inputs w-full' %>
    </div>
    <div>
      <p class="text-lg">Cooking time:</p>
      <%= form.number_field :cooking_time, class: 'form-inputs w-full' %>
    </div>

    <div>
      <p class="text-lg">Description:</p>
      <%= form.text_field :description, class: 'form-inputs w-full' %>
    </div>

    <div class="form-switch my-2">
      <%= form.label :public, { class: "form-check-label", for: "recipe_public" } %>
      <%= form.check_box :public, { class: "form-check-input", } %>
    </div>
    
    <%= form.submit "Create Recipe", class: 'button my-5' %>
  <% end %>
</div> 